*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
}

.parent{
    width:100%;
    height:100vh;
    background: url(image.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    width:30%;
    border-radius: 1.2rem;
    border: .02rem solid;
    padding:3rem 2rem;
    backdrop-filter: blur(1rem);
}

h2{
    text-align: center;
    color: white;
    margin-bottom: .3rem;
}

.inputdiv {
    width: 100%;
    margin:2rem 0 1rem 0;
    position: relative;
}

.inputdiv input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding:0 .5rem;
    border-bottom: .1rem solid white;
}

.inputdiv label{
    position: absolute;
    left:.1rem;
    top: 50%;
    font-size: 1.2rem;
    transform: translateY(-50%);
    transition: .5s;
    pointer-events: none;
}


.inputdiv input:focus~label, 
.inputdiv input:valid~label{
    top: -2px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    accent-color: white;
}

.remember-forgot a{
    text-decoration: none;
    
}

#submit{
    width: 100%;
    margin:1rem 0 1.5rem 0;
    padding:.4rem 0;
    border: none;
    outline:none;
    border-radius: .6rem;
    font-weight: bold;
    font-size: 1rem;
    color:black;
}

#signup{
    text-align: center;
}

#signup a{
    text-decoration: none;
    font-weight: bold;
}

#submit:hover{
    background-color: rgb(230, 224, 224);
    transition: .5s;
}

@media screen and (max-width: 768px) {
    form{
        width:100%;
        height:100vh;
        padding:3rem 1rem;
        align-content: center;
        border:none;
        border-radius: unset;
    }
}

@media screen and (min-width:768px) {
    form{
        width:70%;
        height: unset;
        border-radius: 1.2rem;
        border: .01rem solid;
        padding:3rem 2rem;
    }
}

@media screen and (min-width:1000px){
    form{
    width: 40%;
    }
} 